livebench/log

# Python
__pycache__/
*.pyc
*.egg-info
dist
.venv
venv

# Log
*.log
*.log.*
#*.json
!playground/deepspeed_config_s2.json
!playground/deepspeed_config_s3.json
*.jsonl

# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output
*_strict.jsonl

# Data
*.pkl
/*.csv

/data
/data-*
/livebench/data
/livebench/data-*
/livebench/*.csv
/livebench/load_dataset.py
/run_livebench.sh
/nltk_data
/huggingface
/run.sh

# Build
build

core